@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

:root {
  --dark: #27104E;
  --primary: #75E8E7;
  --secondary: #9854CB;
}

body {
   font-family: "Poppins", sans-serif;
   background-color: var(--secondary);
   color: var(--dark);
}

.container {
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* header */

.header {
  display: flex;
  gap: 8vw;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
}

.heder_nav {
  flex-grow: 1;
  display: flex;
  gap: 4vw;
}

.heder_link {
  color: #FBFBFB;
  text-decoration: none;
  transition: .4s;

}

.heder_link:hover {
  color: var(--primary)
}

.heder_btn {
  font-size: 18px;
  color: #FBFBFB;
  border: none;
  background-color: var(--secondary);
  padding: 16px 24px;
}